# Build artifacts
*.o
*.exe
release/
zerc
zer-convert
NUL

# Compiled test binaries
test_lexer
test_parser
test_parser_edge
test_checker
test_checker_full
test_emit
test_extra
test_gaps
test_zercheck
test_firmware
test_firmware2
test_firmware3
test_production
test_fuzz

# Editor/IDE
.idea/

# Test temporaries
_zer_*
_e.txt
_err.txt
_gap_err.txt
_int_err.txt
_int_test.c
_test.c
_test_struct_return.c

# VS Code extension
editors/vscode/node_modules/

# Misc
hello.c
hello.exe
